<div class="container">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" [routerLink]="['/']"><img src="assets/imagenes/logo-veterinaria-de-bosque.gif"
                            width="200" height="100"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav ml-auto">
                            <li class="nav-item  active">
                                   <a class="btn btn-primary" [routerLink]="['/mascota']"
                                          routerLinkActive="router-link-active" role="button">Mascota</a>
                            </li>
                            <li class="nav-item active">
                                   <a class="btn btn-primary" [routerLink]="['/clinica']"
                                          routerLinkActive="router-link-active" role="button">Clinica</a>
                            </li>
                            <li class="nav-item active">
                                   <a class="btn btn-primary" [routerLink]="['/contacto']"
                                          routerLinkActive="router-link-active" role="button">Contacto</a>
                            </li>
                     </ul>
              </div>
       </nav>
</div>

<div class="container">


</div>
<div class="container">
       <router-outlet></router-outlet>
</div>

<div class="footer">
       <div class="contenido">
              URGENCIAS VETERINARIAS 24 HRS: 5360-3311 Y 5240-0404 | CONTACTO | MAPA DEL SITIO | AVISO DE PRIVACIDAD |
              Síguenos en: Facebook, Twitter e Instagram
       </div>
</div>